@use 'var';

@mixin dark-theme {
  background-color: var.$storm-grey;
  color: var.$sky-white;

  p a {
    color: var.$warm-white;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var.$sky-white;
  }
}

@mixin light-theme {
  background-color: var.$sky-white;
  color: var.$blue-black;

  a {
    color: var.$interstellar-blue;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var.$storm-grey;
  }
}

@mixin heading($size: large) {
  font-family: var.$font-display-black;
  @if $size == large {
    font-size: 84px;
    margin: 15px 0;

    @media screen and (max-width: 1100px) {
      font-size: 70px;
      margin: 13px 0;
    }

    @media screen and (max-width: 775px) {
      font-size: 48px;
      margin: 10px 0;
    }
  }
  @if $size == medium {
    font-size: 60px;
    margin: 6px 0;

    @media screen and (max-width: 1100px) {
      font-size: 55px;
      margin: 8px 0;
    }

    @media screen and (max-width: 500px) {
      font-size: 40px;
      margin: 4px 0;
    }
  }
}

@mixin button($theme) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var.$font-display-reg;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  width: 225px;
  height: 60px;
  border-radius: 5px;

  @media screen and (max-width: 1100px) {
    font-size: 19px;
    width: 225px;
    height: 60px;
  }

  @media screen and (max-width: 500px) {
    font-size: 17px;
    width: 165px;
    height: 57px;
  }

  @if $theme == light {
    background-color: var.$sky-white;
    color: var.$blue-black;
  } @else if $theme == dark {
    background-color: var.$storm-grey;
    color: var.$sky-white;
  }
}

/*
To create a section with a central column:
  1. apply central-column-section mixin to the section element
  2. apply central-column-block mixin to a div that is a direct child of the section
*/
@mixin central-column-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin central-column-block {
  max-width: 1150px;
  margin: 0 80px;

  @media screen and (max-width: 775px) {
    margin: 0 60px;
  }
  @media screen and (max-width: 500px) {
    margin: 0 45px;
  }
}

@mixin flex-container(
  $align-items: center,
  $justify-content: space-between,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin flex-text-block {
  width: 100%;
  max-width: 575px;
  min-width: 0;
  flex-shrink: 1;
}

@mixin flex-image {
  width: 100%;
  max-width: 475px;
  min-width: 200px;
  flex-shrink: 1;
}
