// colors
$storm-grey: #6d7084;
$sky-white: #f8feff;
$warm-white: #fdf7f2;
$blue-black: #212126;
$interstellar-blue: #1515a5;
$cool-grey: #e3e4e8;

// fonts
$font-body: 'Cantarell', sans-serif;
$font-display-reg: 'Fonseca', sans-serif;
$font-display-black: 'FonsecaBlack', sans-serif;
