@use '../global-styles/var';
@use '../global-styles/mixin';

.about-section {
  @include mixin.light-theme;
  @include mixin.central-column-section;
}

.about-heading {
  @include mixin.heading(medium);
  @media screen and (max-width: 775px) {
    font-size: 48px;
    margin: 0 0 15px 0;
  }
}

.about-block {
  @include mixin.central-column-block;
  padding: 75px 0;
  @include mixin.flex-container;
  gap: 110px;

  @media screen and (max-width: 1200px) {
    gap: 90px;
  }
  @media screen and (max-width: 1000px) {
    gap: 90px;
  }
  @media screen and (max-width: 775px) {
    flex-direction: column-reverse;
    //gap is applied using a margin on the about-text on mobile
    //because safari does not support gap with column-reverse
    gap: 0;
    padding: 40px 0;
  }
}
.about-image {
  @include mixin.flex-image;
  flex-shrink: 0.75;
  position: relative;
  @media screen and (max-width: 775px) {
    padding: 0 5px;
  }
}
.about-image-credit p {
  font-size: 0.65em;
  line-height: 1em;
  padding: 0.5em;
  position: absolute;
  bottom: 2px;
  color: var.$warm-white;
}
.about-text {
  @media screen and (max-width: 775px) {
    max-width: 475px;
    margin: 0 13px 30px 13px;
  }
}
