@use '../global-styles/var';
@use '../global-styles/mixin';

.book-intro-section {
  @include mixin.light-theme;
  @include mixin.central-column-section;
}
.book-intro-block {
  @include mixin.central-column-block;
  padding: 80px 0;
  @include mixin.flex-container(flex-start);
  flex-direction: row-reverse;
  gap: 100px;

  @media screen and (max-width: 1000px) {
    padding: 60px 0;
    gap: 60px;
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 775px) {
    margin: 0 25px;
    padding: 25px 0 45px 0;
    gap: 15px;
  }
}
.book-cover-image {
  @include mixin.flex-image;
  flex-shrink: 1;

  @media screen and (min-width: 901px) {
    position: sticky;
    top: 35px;
  }
}
.pitch-text-block {
  @include mixin.flex-text-block;
  @media screen and (max-width: 775px) {
    padding: 0 22px;
  }
}
.pitch {
  font-weight: bold;
}

.buy-section {
  @include mixin.dark-theme;
  @include mixin.central-column-section;
}
.buy-block {
  @include mixin.central-column-block;
  padding: 100px 0;

  @media screen and (max-width: 1000px) {
    padding: 85px 0;
  }
  @media screen and (max-width: 850px) {
    padding: 60px 0;
  }
  @media screen and (max-width: 775px) {
    padding: 60px 0;
  }
}
.buy-heading {
  @include mixin.heading(medium);
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
}
.button-block {
  @include mixin.flex-container;
  gap: 30px;
  padding: 60px 80px 80px 80px;

  @media screen and (max-width: 1000px) {
    padding: 50px 60px 60px 60px;
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
  }
  @media screen and (max-width: 550px) {
    padding: 30px 0 40px 0;
  }
}
.button {
  @include mixin.button(light);
}

.praise-block {
  @include mixin.flex-container(center, center, column);
  margin: 0 125px;
  gap: 50px;

  @media screen and (max-width: 1000px) {
    gap: 35px;
  }
  @media screen and (max-width: 850px) {
    margin: 0;
    gap: 25px;
  }
  @media screen and (max-width: 775px) {
    gap: 20px;
  }
}
.attribution {
  text-align: right;
  font-weight: bold;

  p {
    font-size: 0.9em;
  }
}

.mini-about-section {
  @include mixin.light-theme;
  @include mixin.central-column-section;
}
.mini-about-block {
  @include mixin.central-column-block;
  @include mixin.flex-container;
  gap: 100px;

  @media screen and (max-width: 775px) {
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
  }
}
.about-image {
  @include mixin.flex-image;
  position: relative;
}
.about-image-credit p {
  font-size: 0.65em;
  line-height: 1em;
  padding: 0.5em;
  position: absolute;
  bottom: 2px;
  color: var.$warm-white;
}
.about-text-block {
  @include mixin.flex-container(center, flex-start, column);
  @include mixin.flex-text-block;
}
