@use '../global-styles/var';
@use '../global-styles/mixin';

.navbar {
  @include mixin.dark-theme;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  padding: 0 30px;
  font-family: var.$font-display-reg;
}

.logo-type {
  font-size: 30px;
  color: var.$sky-white;
  text-decoration: none;
}

.menu {
  display: flex;
  font-size: 18px;

  .link {
    margin: 0 12px;
    color: var.$sky-white;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid var.$sky-white;
    }
  }

  .activeLink {
    color: var.$sky-white;
    border-bottom: 1px solid var.$sky-white;
  }
}
