@use '../global-styles/var';
@use '../global-styles/mixin';

.navbar {
  @include mixin.dark-theme;
  @include mixin.flex-container;
  height: 110px;
  padding: 0 40px;
  font-family: var.$font-display-reg;

  @media screen and (max-width: 1000px) {
    height: 85px;
  }

  @media screen and (max-width: 775px) {
    height: 65px;
    padding: 0 18px;
  }
}

.logo-type {
  font-size: 40px;
  color: var.$sky-white;
  text-decoration: none;

  @media screen and (max-width: 1000px) {
    font-size: 30px;
  }

  @media screen and (max-width: 775px) {
    font-size: 21px;
  }
}

.menu-block {
  @include mixin.flex-container;

  @media screen and (max-width: 775px) {
    @include mixin.flex-container(flex-start, space-between, column);
    padding: 38px 38px;
    position: absolute;
    left: 0;
    top: 65px;
    width: 100vw;
    background-color: var.$cool-grey;
  }
}

.menu-items {
  @include mixin.flex-container(center, space-between, row);
  font-size: 24px;

  @media screen and (max-width: 1000px) {
    font-size: 20px;
  }

  @media screen and (max-width: 775px) {
    @include mixin.flex-container(flex-start, space-between, column);
    font-size: 18px;
    gap: 30px;
  }
}

.link {
  margin: 0 12px;
  color: var.$sky-white;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid var.$sky-white;

    @media screen and (max-width: 775px) {
      border-color: var.$blue-black;
    }
  }

  @media screen and (max-width: 775px) {
    color: var.$blue-black;
    margin: 0;
  }
}

.active-link {
  border-bottom: 1px solid var.$sky-white;

  @media screen and (max-width: 775px) {
    border-color: var.$blue-black;
  }
}

.menu-icon {
  color: var.$sky-white;

  svg {
    width: 28px;
    height: auto;
  }
}
